engine-strict=true
# npm starting from v7. Does install Peer Dependencies automatically
# pnpm doesn't do it automatically.
# Make dependencies install what they need
# unmet peer typescript@^4.8.4: found 5.0.3
auto-install-peers=true
